<<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Cardiac Arrest</title>
    <style type="text/css">
        body {

            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: 0% -80%;
        }

        div.a {
            text-indent: 50px;
        }

        input,
        select {

            width: 300px;
            border-style: solid;
            height: 80px;
            background: rgba(190, 95, 7, 0.329);
            border-width: 0.15em;
            border-color: rgb(255, 255, 255);
            color: rgb(94, 47, 4);
        }

        ::placeholder {
            color: rgb(94, 47, 4);
            opacity: 1;
            /* Firefox */
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: white;
        }

        ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: white; 
        }
    </style>
</head>

<body style="background-image: url('{{url_for('static',filename='/img12.jpg')}}')">
    


    <h1 style="text-align:center;color: rgb(156, 11, 6);font-family: inherit;">Machine
        Learning model of Cardiac Arrest Prediction</h1>
    <hr style="color: rgb(0, 0, 0);">



    <h2 style="color: rgb(0, 0, 0);">About Cardiac arrest</h2>

    <div class="a">
        <p style="color: rgb(0, 0, 0);font-size:20px"> Sudden, unexpected loss of heart function, breathing and
            consciousness.
            In cardiac arrest, the heart abruptly stops beating. Without prompt intervention, it can result in the
            person's death.
            The main symptom is loss of consciousness and unresponsiveness.
            This medical emergency needs immediate CPR or use of a defibrillator. Hospital care includes drugs, an
            implantable device or other procedures.

        </p>
    </div>


    <form style="margin-top: 50px;padding-left:200px;" action="{{url_for('predict')}}" method="post">



        <select aria-label="Default select example" type="text" required='required' name="a">

          <option value="0"> Female </option>
          <option value="1"> Male</option>

        </select>

        <input type="text" placeholder="Person's Age" aria-label="default input example" required='required' name="b">

        <select aria-label="Default select example" type="text" required='required' name="c">

          <option value="0">Do not smoke</option>
          <option value="1">Do smoke</option>

        </select>

        <select aria-label="Default select example" type="text" required='required' name="d">

          <option value="0">Has Yellow finger</option>
          <option value="1">No yellow finger</option>

        </select>

        <select aria-label="Default select example" type="text" required='required' name="e">

          <option value="0">Has Yellow finger</option>
          <option value="1">No yellow finger</option>

        </select>

        <select aria-label="Default select example" type="text" required='required' name="f">

          <option value="0">Has Yellow finger</option>
          <option value="1">No yellow finger</option>

        </select>

        <select aria-label="Default select example" type="text" required='required' name="g">

          <option value="0">Do not smoke</option>
          <option value="1">Do smoke</option>

        </select>

        <select aria-label="Default select example" type="text" required='required' name="h">

          <option value="0">Has Yellow finger</option>
          <option value="1">No yellow finger</option>

        </select>

        <select aria-label="Default select example" type="text" required='required' name="i">

          <option value="0">Has Yellow finger</option>
          <option value="1">No yellow finger</option>

        </select>



        <select aria-label="Default select example" type="text" required='required' name="j">

          <option value="0">Has Yellow finger</option>
          <option value="1">No yellow finger</option>

        </select>

        <select aria-label="Default select example" type="text" required='required' name="k">

          <option value="0">Do not smoke</option>
          <option value="1">Do smoke</option>

        </select>

        <select aria-label="Default select example" type="text" required='required' name="l">

          <option value="0">Has Yellow finger</option>
          <option value="1">No yellow finger</option>

        </select>

        <select aria-label="Default select example" type="text" required='required' name="m">

          <option value="0">Has Yellow finger</option>
          <option value="1">No yellow finger</option>

        </select>   

        <select aria-label="Default select example" type="text" required='required' name="n">

          <option value="0">Has Yellow finger</option>
          <option value="1">No yellow finger</option>

        </select>

        <select aria-label="Default select example" type="text" required='required' name="o">

          <option value="0">Has Yellow finger</option>
          <option value="1">No yellow finger</option>

        </select>   



        <br><br>
        <button style="margin-left:00px" type="submit" class="btn btn-outline-danger btn-lg">Predict</button><br><br>

        <b style="color: rgb(0, 0, 0);font-size: 22px;">{{statement}}</b>
        <p><a href="https://github.com/Vijaysinh7000/cardiac-arrest-prediction">Visit to GitHub Repository for more details</a></p>


    </form>
    <br>



